body {
  font-family: nunito;
  background-color: #101010;
  line-height: 1.6;
}
.info4 p {
  margin: 0 7px;
}
 #mc, #mi {
          display:none;
 }
.header {
  text-align: left;
  color: white;
  margin:0 15px;
  font-weight: bold;
}

.headerdes {
   float: left;
   display: block;
   margin: 15px 0;
}
#scrollButton {
  color: white;
  with:50px;
}
.header button, .bbtn{
  border-radius: 25px;
  padding: 14px 18px;
  font-weight: bold;
  font-family: nunito;
  border:none;
  margin: 0 15px 0 0;
}
.btnss {
  display: block;
}
mark {
  background: transparent;
  text-decoration: underline;
  color: white;
  text-decoration-color: #276FFD;
}
.container-grid {
     display: grid;
     grid-template-columns: repeat(1, 1fr);
     gap: 25px;
     }
     
  .container-item {
     display: flex;
     flex-direction: column;
     padding: 30px 0;
     border-radius: 10px;
     text-decoration: none;
  }
     
.header img{
  margin: 0 -15px;
  display: flex;
}
.bg {
  position: absolute;
  top: 0;
  left: 10px;
  width: 95%;
}
@keyframes blink {
  0%   { opacity: 1; }
  50% { opacity: 0.6; }
  100% { opacity: 1; }
}
.stars-bg__star {
  opacity: 0;
  animation: blink 3s infinite;
}
.stars-bg__blink-2 {
  animation-delay: 1s;
}
.stars-bg__blink-3 {
  animation-delay: 2s;
}
.mymenu {
  background-color: black;
  position: fixed;
  top:0;
  left:-1%;
  right: -1px;
  padding: 3px 15px;
  z-index: 1000;
  box-shadow:0 -0.4px 2.7px 1.5px #151515 ;
}
.texts {
  color: white;
  margin: 3px 18px;
}
.nav-top {
  float: left;
  font-weight: bold;
  letter-spacing: 2.6px;
  margin: 10px;
  color: #fff;
  
}
#scrollButton svg {
  margin-top:2%;
} 
.tagline {
  line-height: 1.5;
  padding: 20px 0;
}
.word {
  font-size: 23px;
  font-weight: bold;
  display: block;
}


.info5 {
  color: white;
  text-align: center;
  padding: 30px 10px;
}
.moreinfo {
  border-top:none;
  border-left:none;
  border-right: 6px solid #221133;
  border-bottom: 6px solid #221133;
  padding: 16px 39px;
  display: block;
  font-family: Nunito;
  font-weight: bold;
  background: #f7390d;
  border-radius: 27px;
}
a {
  color: black;
  text-decoration: none;
}

.info6 {
  color: white;
  line-height: 1.5;
  background: #141215;
  padding:63px 15px;
  text-align: center;
  margin:0 -10px;
}
.info6 button{
  color:white;
  border-top:none;
  border-left:none;
  border-right: 5px solid white;
  border-bottom: 5px solid white;
}
.anim4 {
  opacity: 0;
}
.fname {
  letter-spacing: 2.6px;
  font-size: 18px;
}

#scrollButton {
  background-color: transparent;
  border: none;
  fill: black;
  margin-top: 5px;
  font-size: 20px;
  float: right;
}
.projectinfo {
  border-radius: 15px;
  display:flex;
  margin: 0 auto;
  width: 95%;
}
.projectinfo img {
  width: 225px;
  padding: 0 25px;
}
.projectcontainer {
  border-radius: 20px;
  padding: 20px 30px;
  background-color: #181923;
  text-align: left;
  margin: 20px 0;
}
.linfo {
  margin: 0 20px;
}
footer {
  text-align: center;
  padding: 40px 25px;
}
#mi {
  position: fixed;
  top:65px;
  background-color: #232120;
  width: 95%;
  height: 300px;
  color: white;
  border-radius: 15px;
  z-index: 900;
  padding: 45px 0;
}
#mi a {
  color: white;
  display: block;
  line-height:3;
  border-bottom: 1px solid white;
  width: 80%;
  border-radius: 1px;
  
}
#mi a:last-child{
  border-bottom: none;
}
    #footer a {
      color: white;
      padding: 15px 20px;
      background: #202020;
      margin: 30px 6px;
      border-radius: 39px;
    }
  .msgme input, .msgme textarea {
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    width: 79%;
    margin: 10px 0;
    float: left;
    color: white;
    background-color: #181923;
    outline: none;
    font-family: Arial;
  }
#message {
  height: 200px;
}
.desktop-img {
  width: 300px;
  margin: 0 70px;
}
.desktop-img-2 {
  width: 300px;
}
marquee {
  
}

.marquee-image {
  width: 300px;
}

.desktop-nav {
  display: none;
}
.desktop-nav a {
  padding: 0 5px;
}
.details {
  border: 1px solid rgb(55,55,55,0.8);
  margin: 5px auto;
  border-radius: 15px;
}
     .category-grid {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 15px;
     }
     
     .category-item {
     display: flex;
     flex-direction: column;
     align-items:center;
     text-align: left;
     width: 70%;
     border-radius: 10px;
     text-decoration: none;
     padding:9px 8px;
     font-weight: 600;
     }
     
     
     @media (min-width:768px) {
        .grid-1{
          grid-template-columns: repeat(2, 1fr);
     }
     p, p2 {
       font-size: 0.2rem;
     }
     .bg {
       display: none;
     }
     #scrollButton {
       display: none;
     }
     .desktop-nav {
       display: inline;
       color: white;
       float: right;
       color: white;
       margin-top: 7px;
     }
     .projectinfo img {
      width: 180px;
      padding: 0 100px;
     }
     .projectcontainer {
       padding: 20px 25px;
     }
     .grid-4 {
       grid-template-columns: repeat(4, 1fr);
     }
     .desktop-img {
       width: 470px;
     }
     .desktop-img-2 {
       width: 580px;
     }
     }
 